<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home Page</title>
    <!--    <style>-->
    <!--      body {-->
    <!--        margin: 0;-->
    <!--        padding: 0;-->
    <!--        box-sizing: border-box;-->
    <!--        background-color: #a1ccd1;-->
    <!--        font-family: sans-serif;-->
    <!--        border-radius: 10px;-->
    <!--      }-->
    <!--      .container {-->
    <!--        position: relative;-->
    <!--        background-color: #f2b6a0;-->
    <!--        width: 100%;-->
    <!--        min-height: 100vh;-->
    <!--        left: 50%;-->
    <!--        transform: translateX(-50%);-->
    <!--        border-radius: 10px;-->
    <!--      }-->
    <!--      .container .header {-->
    <!--        position: sticky;-->
    <!--        top: 0;-->
    <!--        left: 0;-->
    <!--        background-color: #e06469;-->
    <!--        font-size: 40px;-->
    <!--        font-weight: 900;-->
    <!--        color: #dedea7;-->
    <!--        -webkit-text-stroke: black 2px;-->
    <!--        outline: none;-->
    <!--        border-radius: 10px;-->
    <!--        margin: 0.2rem;-->
    <!--        width: calc(100% - 0.4rem);-->
    <!--      }-->
    <!--      .container .footer {-->
    <!--        position: fixed;-->
    <!--        bottom: 0;-->
    <!--        left: 0;-->
    <!--        width: 100%;-->
    <!--        background-color: #e06469;-->
    <!--        font-size: 20px;-->
    <!--        font-weight: 900;-->
    <!--        color: black;-->
    <!--        outline: none;-->
    <!--        border-radius: 10px;-->
    <!--        -webkit-text-stroke: wheat 0.5px;-->
    <!--        margin: 0.2rem;-->
    <!--        width: calc(100% - 0.4rem);-->
    <!--      }-->

    <!--      .container .buttons {-->
    <!--        display: flex;-->
    <!--        justify-content: space-around;-->
    <!--        background-color: #e06469;-->
    <!--        border-radius: 10px;-->
    <!--        margin: 0.2rem;-->
    <!--        width: calc(100% - 0.4rem);-->
    <!--      }-->

    <!--      button {-->
    <!--        font-size: 20px;-->
    <!--        border-radius: 10px;-->
    <!--        margin-top: 1rem;-->
    <!--        margin-bottom: 1rem;-->
    <!--        width: 300px;-->
    <!--        background-color: #f2b6a0;-->
    <!--      }-->

    <!--      button.btn-function {-->
    <!--        border-radius: 10px;-->
    <!--        margin-top: 1rem;-->
    <!--        margin-bottom: 1rem;-->
    <!--        width: 100px;-->
    <!--        background-color: #f2b6a0;-->
    <!--        font-size: 15px;-->
    <!--      }-->

    <!--      td.function {-->
    <!--        text-align: center;-->
    <!--        width: 8rem;-->
    <!--      }-->

    <!--      .header-text {-->
    <!--        padding: 1rem;-->
    <!--        text-align: center;-->
    <!--      }-->
    <!--      .footer-text {-->
    <!--        margin: 1rem;-->
    <!--        text-align: center;-->
    <!--      }-->

    <!--      .container .body-table {-->
    <!--        position: relative;-->
    <!--      }-->
    <!--      table {-->
    <!--        display: table;-->
    <!--        width: 100%;-->
    <!--        border: 2px solid black;-->
    <!--        background-color: #dedea7;-->
    <!--        font-size: 15px;-->
    <!--        margin: 0.2rem;-->
    <!--        width: calc(100% - 0.4rem);-->
    <!--      }-->
    <!--      th {-->
    <!--        border-bottom: 2px solid black;-->
    <!--        font-size: 18px;-->
    <!--      }-->
    <!--      td {-->
    <!--        border-bottom: 1px solid #656539;-->
    <!--      }-->
    <!--      .center {-->
    <!--        text-align: center;-->
    <!--      }-->
    <!--      tr:hover {-->
    <!--        background-color: rgb(247, 163, 132);-->
    <!--      }-->
    <!--    </style>-->
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
<div class="container">
    <div th:insert="layout :: header"></div>
    <!--      <div class="header">-->
    <!--        <div class="header-text">Product Management</div>-->
    <!--      </div>-->
    <div class="buttons">
        <div class="create-button">
            <button type="button" onclick="toCreateForm()">Create New Product</button>
        </div>
        <div class="search-button">
            <button>Search</button>
        </div>
    </div>
    <div class="messaage" th:if="${message}">
        <h3 th:text="${message}" style="color: red; text-align: center"></h3>
    </div>
    <div class="body-table">
        <table>
            <tr>
                <th class="center">No.</th>
                <th class="center">Id</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Manufacturer</th>
                <th colspan="3">Functions</th>
            </tr>
            <tr th:each="product, status: ${productList}">
                <td class="center" th:text="${status.index+1}"></td>
                <td class="center" th:text="${product.getId()}"></td>
                <td th:text="${product.getName()}"></td>
                <td class="center" th:text="${product.getPrice()}"></td>
                <td th:text="${product.getDescription()}"></td>
                <td th:text="${product.getManufacturer()}"></td>
                <td class="function">
                    <button class="btn-function" th:onclick="'toDetail(\'' + ${product.id} + '\');'">Detail</button>
<!--                    <button class="btn-function" th:attr="onclick=|toDetail('${product.id}')|">Detail</button>-->
                </td>
                <td class="function">
                    <button class="btn-function" th:onclick="'toUpdate(\'' + ${product.id} + '\');'">Update</button>
<!--                    <button class="btn-function" th:attr="onclick|toUpdate('${product.id}')|">Update</button>-->
                </td>
                <td class="function">
                    <button class="btn-function" th:onclick="'toDelete(\'' + ${product.id} + '\',\'' + ${product.name} + '\');'">Delete</button>
<!--                    <button class="btn-function" th:attr="onclick|toDelete('${product.id}')|">Delete</button>-->
                </td>
            </tr>
        </table>
    </div>
    <!--      <div class="footer">-->
    <!--        <div class="footer-text">&copy; Louis Technology</div>-->
    <!--      </div>-->
    <div th:insert="layout :: footer"></div>
</div>
<form action="">

</form>
</body>
<script>
    function toCreateForm() {
        window.location.href = "/show-create-form";
    }
    function toDetail(id) {
        window.location.href= "/show-detail-form/" + id;
    }
    function toUpdate(id) {
        window.location.href= "/show-update-form/" + id;
    }
    function toDelete(id, name) {
        if (confirm("Do you want to delete product " + name)) {
            window.location.href= "/delete/" + id;
        } else {
            window.location.href= "/";
        }
    }
</script>
</html>
